body{
	background-color:#371B58 ;

}
.nav-title{
	color: #ffff;
	text-align: center;
	padding-bottom: 200px ;
}
.main-body{
	text-align: center;
	color: #ECB390;
}
.landry{
text-align: center;
color: #ffff;
}
.imanzi{
	text-align: center;
	color:#FF4949 ;
}