
/**
Main styles of the website
**/
body{
	background-color: #228B22;
	font-family: Georgia, 'Times New Roman', Times;
	margin: 15px;
}

.nav{
	display: flex;
	flex-direction: column;
	flex-basis: 20px;
}
.nav .nav-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.nav .nav-links{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.nav-links a{
	font-size: 20px;
	padding-left: : 20px;
	color: #0000FF;
	text-decoration: none;
}
hr.heading{
	color: #ffffff;
	width: 100%;
}
.nav-links a:hover{
	text-transform: uppercase;
	color: #ffffff;
}
.main-body{
	display: flex;
	flex-direction: column;
	min-height: 400px;
}
.main-welcome{
	display: flex;
	flex-direction: column;
	height: 400px;
}
.main-welcome .welcome-message{
	text-shadow: capitalize;
	color: black;
  	justify-content: center;
 	align-items: center;
 	display: flex;
 	position: absolute;
	top: 1px;
 	left: 20%;
 	right: 20%;
 	bottom: 100px;
 	line-height: 20px;
}
.welcome-img img{
	border: 1px solid #ffffff;
	width: 100%;
	overflow: hidden;
	height: 300px;
	opacity: 0.5;
	position: relative;
}
.block-header h4{
	color: white;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
}
.main-students{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.main-student .student-section{
	padding-left: 10px;
	height: 200px;

}
.student-section{
	position: relative;

}
.student-section img{
	height: 200px;
	border-radius: 20px;
	border: 1px solid red;
	width: 200px;
}
.stu{
	position: absolute;
	text-align: center;
	top: 30px;
    width: 100%;
    color: black;
}
.footer{
	display: flex;
	flex-direction: row;
	border-top: 1px solid #ffffff;
	margin-top: 20px;
	padding-top: 10px;
}
.footer-left{
	margin-left: 10px;
	border:1px solid #ffffff;
	border-radius: 5px;
}	
.footer-left h3{
	color: #ffffff;
	text-decoration: underline;
	text-transform: capitalize;
	font-family: 'Courier New' , Courier, monospace;
}
.footer-left p{
	line-height: 20px;
	color: #ffffff;
	font-family: 'Georgia' ,'Times New Roman' ,'Times' ;
	font-size: 15px;
	text-align: justify;
}
.footer-right{
	margin-left: 10px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	color: black;
}
.footer-right h3{
	color: #ffffff;
	text-decoration: underline;
	text-transform: capitalize;
	font-family: 'Courier New' , Courier, monospace;
	text-align: center;
}
.footer-right ul{
	list-style-type: none;
}
.footer-right ul li{
	border-bottom: 1px solid #0000FF;
	width: 70%
}
.footer-right ul li a{
	padding-top: :20px;
	color: #0000FF;
	text-decoration: none; 
	padding-right: 50px;
}
.contact{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.contact .heading{
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: underline;
}
.contact-form{
	margin-left: auto;
	margin-right: auto;
}
.contact-form form{
	display: flex;
	flex-direction: column; 
	flex-wrap: wrap;
	border: 1px solid #ffffff;
	padding: 20px;
}
form .form-group{
	display: flex;
	flex-direction: column;
}
