body{

}
.nav{
	background-color: #112B3C;
	padding-bottom: 80px;
	width: 100%;
	border: 100%;
}
.nav .nav-links{
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
}
.nav-links a{
	padding-top: 10px;
	color: white;
	text-decoration: none;
	font-size: 15px;
	padding-left: 20px;
	color: teal;
}
.nav-links p{
	font-size: 25px;
	padding-right: 500px;
	margin: 08px;
	text-decoration: none;
	color: white;
}	
.nav-links a:hover{
	text-decoration: white;
}
.welcome-message{
	text-align: center;
}
.welcome-message p{
	padding-top: 15px;
	color: white;
	font-size: 20px;
	font-style: normal;
}
.main-body{
	padding-bottom: 10px;
	padding-top: 50px;
	background-color: #FCF8E8;
	color: teal;
	text-align: center;
}
.main-body h1{
	color:#112B3C;
	font-family: serif;

}