body{
	background-color: #FFEE63;
}
.nav .nav-links{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.name{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
